In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\buitr\Documents\04-2025 Instacart Basket Analysis'

In [4]:
# 3. import the orders_products_combined dataframe from the pickle file
opc_path = os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl')

In [5]:
df_opc = pd.read_pickle(opc_path)

In [6]:
# 4. Check the shape of the imported dataframe
df_opc.shape

(32434489, 14)

In [7]:
clean_prods_no_dups_path = os.path.join(path, '02 Data', 'Prepared Data', 'clean_prods_no_dups.csv')

In [8]:
df_prods = pd.read_csv(clean_prods_no_dups_path, index_col = False)

In [9]:
df_prods.shape

(49672, 6)

In [10]:
df_prods

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [11]:
df_opc

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,3421081,2977660,206209,prior,13,1,12,7.0,False,14197,5,1,both
32434485,3421081,3421081,2977660,206209,prior,13,1,12,7.0,False,38730,6,0,both
32434486,3421081,3421081,2977660,206209,prior,13,1,12,7.0,False,31477,7,0,both
32434487,3421081,3421081,2977660,206209,prior,13,1,12,7.0,False,6567,8,0,both
32434488,3421081,3421081,2977660,206209,prior,13,1,12,7.0,False,22920,9,0,both

In [12]:
df_opc = df_opc.drop('_merge', axis = 1)

In [13]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe
df_ords_prods_merge = df_prods.merge(df_opc, on = 'product_id', indicator = True)

In [14]:
df_ords_prods_merge

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,False,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,False,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,False,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,NaN,True,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,False,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,3321928,1788356,200215,prior,2,0,9,5.0,False,27,0,both
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3324686,3401313,200377,prior,1,4,11,NaN,True,5,0,both
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,3332310,809510,200873,prior,5,3,8,15.0,False,12,0,both
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,3332314,2359893,200873,prior,9,3,15,5.0,False,11,1,both
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,3416620,2385091,205926,prior,11,1,15,6.0,False,35,0,both

In [15]:
df_ords_prods_merge.shape

(32404859, 19)

In [16]:
# 6. Confirm the results of the merge using the merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
# 7. Export the newly created dataframe as ords_prods_merge in a suitable format
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))