In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
path = r'C:\Users\buitr\Documents\04-2025 Instacart Basket Analysis'

In [5]:
department_df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))

In [7]:
department_df

,Unnamed: 0,department_id,department_id.6,department_id.5,department_id.4,department_id.3,department_id.2,department_id.1,department_name
0,0,0,0,0,0,0,0,1,frozen
1,1,1,1,1,1,1,1,2,other
2,2,2,2,2,2,2,2,3,bakery
3,3,3,3,3,3,3,3,4,produce
4,4,4,4,4,4,4,4,5,alcohol
5,5,5,5,5,5,5,5,6,international
6,6,6,6,6,6,6,6,7,beverages
7,7,7,7,7,7,7,7,8,pets
8,8,8,8,8,8,8,8,9,dry goods pasta
9,9,9,9,9,9,9,9,10,bulk
10,10,10,10,10,10,10,10,11,personal care
11,11,11,11,11,11,11,11,12,meat seafood
12,12,12,12,12,12,12,12,13,pantry
13,13,13,13,13,13,13,13,14,breakfast
14,14,14,14,14,14,14,14,15,canned goods
15,15,15,15,15,15,15,15,16,dairy eggs
16,16,16,16,16,16,16,16,17,household
17,17,17,17,17,17,17,17,18,babies
18,18,18,18,18,18,18,18,19,snacks
19,19,19,19,19,19,19,19,20,deli
20,20,20,20,20,20,20,20,21,missing

In [19]:
department_df = department_df.drop(['Unnamed: 0', 'department_id.6', 'department_id.5', 'department_id.4', 'department_id.3', 'department_id.2', 'department_id.1'], axis=1)

In [21]:
department_df

    department_id  department_name
0               0           frozen
1               1            other
2               2           bakery
3               3          produce
4               4          alcohol
5               5    international
6               6        beverages
7               7             pets
8               8  dry goods pasta
9               9             bulk
10             10    personal care
11             11     meat seafood
12             12           pantry
13             13        breakfast
14             14     canned goods
15             15       dairy eggs
16             16        household
17             17           babies
18             18           snacks
19             19             deli
20             20          missing

In [23]:
department_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))